*.py[cod]
__pycache__

# PyCharm stuffs
.idea/

# coverage stuffs
.coverage

# Notebook stuffs
examples/*checkpoints
.ipynb_checkpoints

# Tests stuffs
oggm/tests/result_images
result_images

# Packages
*.egg
*.egg-info
eggs

# specific
*.html
docs/_build
docs/generated
docs/_static
docs/_sources
docs/_images
docs/.doctrees
oggm/version.py