sudo: required
dist: trusty
services:
  - docker

notifications:
  email: false

branches:  # blacklist
  except:
    - appveyor
    - docs

cache:
  directories:
    - $HOME/dl_cache

matrix:
  fast_finish: true
  include:
    - env: OGGM_TEST_ENV=prepro MPL=
    - env: OGGM_TEST_ENV=numerics MPL=
    - env: OGGM_TEST_ENV=models MPL=
    - env: OGGM_TEST_ENV=benchmark MPL=
    - env: OGGM_TEST_ENV=utils MPL=
    - env: OGGM_TEST_ENV=workflow MPL=--mpl OGGM_TEST_MULTIPROC=False
    - env: OGGM_TEST_ENV=workflow MPL=--mpl OGGM_TEST_MULTIPROC=True
    - env: OGGM_TEST_ENV=graphics MPL=--mpl

before_install:
  - docker pull oggm/untested_base:latest
install:
  - mkdir -p $HOME/dl_cache
  - export OGGM_DOWNLOAD_CACHE=/dl_cache
  - docker create --name oggm_travis -ti -v $HOME/dl_cache:/dl_cache -e OGGM_DOWNLOAD_CACHE -e OGGM_TEST_ENV -e OGGM_TEST_MULTIPROC -e MPL -e CI -e TRAVIS -e TRAVIS_JOB_ID -e TRAVIS_BRANCH -e TRAVIS_PULL_REQUEST oggm/untested_base:latest /bin/bash /root/oggm/ci/travis_script.sh
  - docker cp $PWD oggm_travis:/root/oggm
script:
  - export OGGM_DOWNLOAD_CACHE=/dl_cache
  - docker start -ai oggm_travis
after_script:
  - docker rm oggm_travis
