sudo: required
dist: trusty
language: bash
services:
  - docker

notifications:
  email: false

branches:  # blacklist
  except:
    - appveyor
    - docs

cache:
  directories:
    - $HOME/dl_cache

matrix:
  fast_finish: true
  allow_failures:
    - os: windows
    - os: osx
  include:
    - env: OGGM_TEST_ENV=prepro PYTHON_VERSION=3.6 MPL=
      os: linux
    - env: OGGM_TEST_ENV=numerics PYTHON_VERSION=3.6 MPL=
      os: linux
    - env: OGGM_TEST_ENV=models PYTHON_VERSION=3.6 MPL=
      os: linux
    - env: OGGM_TEST_ENV=benchmark PYTHON_VERSION=3.6 MPL=
      os: linux
    - env: OGGM_TEST_ENV=utils PYTHON_VERSION=3.6 MPL=
      os: linux
    - env: OGGM_TEST_ENV=workflow PYTHON_VERSION=3.6 MPL=--mpl OGGM_TEST_MULTIPROC=True
      os: linux
    - env: OGGM_TEST_ENV=workflow PYTHON_VERSION=3.6 MPL=--mpl OGGM_TEST_MULTIPROC=False
      os: linux
    - env: OGGM_TEST_ENV=graphics PYTHON_VERSION=3.6 MPL=--mpl
      os: linux
    - env: OGGM_TEST_ENV=prepro PYTHON_VERSION=3.7 MPL=
      os: linux
    - env: OGGM_TEST_ENV=numerics PYTHON_VERSION=3.7 MPL=
      os: linux
    - env: OGGM_TEST_ENV=models PYTHON_VERSION=3.7 MPL=
      os: linux
    - env: OGGM_TEST_ENV=benchmark PYTHON_VERSION=3.7 MPL=
      os: linux
    - env: OGGM_TEST_ENV=utils PYTHON_VERSION=3.7 MPL=
      os: linux
    - env: OGGM_TEST_ENV=workflow PYTHON_VERSION=3.7 MPL=--mpl OGGM_TEST_MULTIPROC=True
      os: linux
    - env: OGGM_TEST_ENV=workflow PYTHON_VERSION=3.7 MPL=--mpl OGGM_TEST_MULTIPROC=False
      os: linux
    - env: OGGM_TEST_ENV=graphics PYTHON_VERSION=3.7 MPL=--mpl
      os: linux
    - env: OGGM_TEST_ENV=prepro PYTHON_VERSION=3.6 MPL=
      os: osx
    - env: OGGM_TEST_ENV=numerics PYTHON_VERSION=3.6 MPL=
      os: osx
    - env: OGGM_TEST_ENV=models PYTHON_VERSION=3.6 MPL=
      os: osx
    - env: OGGM_TEST_ENV=benchmark PYTHON_VERSION=3.6 MPL=
      os: osx
    - env: OGGM_TEST_ENV=utils PYTHON_VERSION=3.6 MPL=
      os: osx
    - env: OGGM_TEST_ENV=workflow PYTHON_VERSION=3.6 MPL=--mpl OGGM_TEST_MULTIPROC=True
      os: osx
    - env: OGGM_TEST_ENV=workflow PYTHON_VERSION=3.6 MPL=--mpl OGGM_TEST_MULTIPROC=False
      os: osx
    - env: OGGM_TEST_ENV=graphics PYTHON_VERSION=3.6 MPL=--mpl
      os: osx
    - env: OGGM_TEST_ENV=prepro PYTHON_VERSION=3.7 MPL=
      os: osx
    - env: OGGM_TEST_ENV=numerics PYTHON_VERSION=3.7 MPL=
      os: osx
    - env: OGGM_TEST_ENV=models PYTHON_VERSION=3.7 MPL=
      os: osx
    - env: OGGM_TEST_ENV=benchmark PYTHON_VERSION=3.7 MPL=
      os: osx
    - env: OGGM_TEST_ENV=utils PYTHON_VERSION=3.7 MPL=
      os: osx
    - env: OGGM_TEST_ENV=workflow PYTHON_VERSION=3.7 MPL=--mpl OGGM_TEST_MULTIPROC=True
      os: osx
    - env: OGGM_TEST_ENV=workflow PYTHON_VERSION=3.7 MPL=--mpl OGGM_TEST_MULTIPROC=False
      os: osx
    - env: OGGM_TEST_ENV=graphics PYTHON_VERSION=3.7 MPL=--mpl
      os: osx
    - env: OGGM_TEST_ENV=prepro PYTHON_VERSION=3.6 MPL=
      os: windows
    - env: OGGM_TEST_ENV=numerics PYTHON_VERSION=3.6 MPL=
      os: windows
    - env: OGGM_TEST_ENV=models PYTHON_VERSION=3.6 MPL=
      os: windows
    - env: OGGM_TEST_ENV=benchmark PYTHON_VERSION=3.6 MPL=
      os: windows
    - env: OGGM_TEST_ENV=utils PYTHON_VERSION=3.6 MPL=
      os: windows
    - env: OGGM_TEST_ENV=workflow PYTHON_VERSION=3.6 MPL=--mpl OGGM_TEST_MULTIPROC=True
      os: windows
    - env: OGGM_TEST_ENV=workflow PYTHON_VERSION=3.6 MPL=--mpl OGGM_TEST_MULTIPROC=False
      os: windows
    - env: OGGM_TEST_ENV=graphics PYTHON_VERSION=3.6 MPL=--mpl
      os: windows
    - env: OGGM_TEST_ENV=prepro PYTHON_VERSION=3.7 MPL=
      os: windows
    - env: OGGM_TEST_ENV=numerics PYTHON_VERSION=3.7 MPL=
      os: windows
    - env: OGGM_TEST_ENV=models PYTHON_VERSION=3.7 MPL=
      os: windows
    - env: OGGM_TEST_ENV=benchmark PYTHON_VERSION=3.7 MPL=
      os: windows
    - env: OGGM_TEST_ENV=utils PYTHON_VERSION=3.7 MPL=
      os: windows
    - env: OGGM_TEST_ENV=workflow PYTHON_VERSION=3.7 MPL=--mpl OGGM_TEST_MULTIPROC=True
      os: windows
    - env: OGGM_TEST_ENV=workflow PYTHON_VERSION=3.7 MPL=--mpl OGGM_TEST_MULTIPROC=False
      os: windows
    - env: OGGM_TEST_ENV=graphics PYTHON_VERSION=3.7 MPL=--mpl
      os: windows

script:
  - ./ci/travis_stage_script.sh
