language: python
sudo: false
# blacklist
branches:
  except:
    - appveyor
    - docs
cache:
  directories:
    - ~/.cache/pip
env:
  global:
    - PIP_WHEEL_DIR=$HOME/.cache/pip/wheels
    - PIP_FIND_LINKS=file://$HOME/.cache/pip/wheels
    - OLDER_PACKAGES=false
addons:
  apt:
    packages:
      # copied those from scipy
      - libatlas-dev
      - libatlas-base-dev
      - liblapack-dev
      - gfortran
      # copied those from rasterio
      - libgdal1h
      - gdal-bin
      - libgdal-dev
matrix:
  include:
    - python: 2.7
    - python: 3.4
    - python: 3.5
  allow_failures:
    - python: 2.7
before_install:
  - pip install -U pip
  - pip install wheel
install:
  - travis_wait pip wheel -r ci/requirements.txt
  - travis_wait pip install --upgrade --force-reinstall -r ci/requirements.txt
  - pip wheel scikit-image
  - pip install scikit-image
  - pip install gdal==1.10.0 --install-option="build_ext" --install-option="--include-dirs=/usr/include/gdal"
  - pip install fiona --install-option="build_ext" --install-option="--include-dirs=/usr/include/gdal"
  - pip install geopandas
  - pip install git+https://github.com/fmaussion/motionless.git
  - pip install git+https://github.com/fmaussion/salem.git
  - pip install git+https://github.com/fmaussion/cleo.git
  - pip install coveralls
  - pip install nose
  - pip install -e .
  - "sed -i 's/^backend.*/backend : Agg/' /home/travis/virtualenv/*/lib/python*/site-packages/matplotlib/mpl-data/matplotlibrc"
script:
  - nosetests --with-coverage --cover-package oggm --logging-level=INFO
after_success:
  - coveralls
