sudo: required
dist: trusty
language: bash
services:
  - docker

notifications:
  email: false
  webhooks: https://coveralls.io/webhook

branches:  # blacklist
  except:
    - appveyor
    - docs

cache:
  directories:
    - $HOME/dl_cache

env:
  global:
    - COVERALLS_PARALLEL=true

matrix:
  fast_finish: true
  allow_failures:
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=prepro MPL=
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=numerics MPL=
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=models MPL=
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=benchmark MPL=
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=utils MPL=
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=workflow MPL=--mpl OGGM_TEST_MULTIPROC=True
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=workflow MPL=--mpl OGGM_TEST_MULTIPROC=False
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=graphics MPL=--mpl
  include:
    - env: TEST_CONTAINER=20190117 OGGM_TEST_ENV=prepro MPL=
      os: linux
    - env: TEST_CONTAINER=20190117 OGGM_TEST_ENV=numerics MPL=
      os: linux
    - env: TEST_CONTAINER=20190117 OGGM_TEST_ENV=models MPL=
      os: linux
    - env: TEST_CONTAINER=20190117 OGGM_TEST_ENV=benchmark MPL=
      os: linux
    - env: TEST_CONTAINER=20190117 OGGM_TEST_ENV=utils MPL=
      os: linux
    - env: TEST_CONTAINER=20190117 OGGM_TEST_ENV=workflow MPL=--mpl OGGM_TEST_MULTIPROC=True
      os: linux
    - env: TEST_CONTAINER=20190117 OGGM_TEST_ENV=workflow MPL=--mpl OGGM_TEST_MULTIPROC=False
      os: linux
    - env: TEST_CONTAINER=20190117 OGGM_TEST_ENV=graphics MPL=--mpl
      os: linux
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=prepro MPL=
      os: linux
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=numerics MPL=
      os: linux
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=models MPL=
      os: linux
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=benchmark MPL=
      os: linux
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=utils MPL=
      os: linux
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=workflow MPL=--mpl OGGM_TEST_MULTIPROC=True
      os: linux
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=workflow MPL=--mpl OGGM_TEST_MULTIPROC=False
      os: linux
    - env: TEST_CONTAINER=py37 OGGM_TEST_ENV=graphics MPL=--mpl
      os: linux

script:
  - export -f travis_wait
  - export -f travis_jigger
  - ./ci/travis_stage_script.sh
