numpy==1.16.4
scipy
pandas
shapely
matplotlib
pyproj
rasterio
Pillow
geopandas
netcdf4==1.3.1
scikit-image
configobj
joblib
xarray
progressbar2
pytest
motionless
dask
bottleneck
descartes
toolz
ipython
numpydoc
git+https://github.com/fmaussion/salem.git
